
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, 
cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, 
h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, 
output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, 
tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden;
}

.icons_svg {
    display: none;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input::-webkit-input-placeholder { color: #046381; }
input::-ms-input-placeholder { color: #046381; }
input::-ms-input-placeholder { color: #046381; }
input:-ms-input-placeholder { color: #046381; }
input::placeholder { color: #046381; }

input {
	outline: none;
	border: none;
}

.wrapper_input {
	position: relative;
	width: 200px;
}

.wrapper_input .input {
	position: relative;
	width: 100%;
	border-radius: 3px;
	padding: 17px 20px;
	background-color: white;
}


body {
	line-height: 1;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	color: white;
}

body.is-open {
    overflow: hidden;
    height: 100%;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container-window {
    margin-left: auto;
    margin-right: auto;
	max-width: 1920px;
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0px auto;
}

.row-temp {
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* HEADER */

.header {
	position: fixed;
	top: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	background-color: #012f2f;
	max-width: 1920px;
	width: 100%;
	border-bottom: 1px solid #f9f9ef;
	z-index: 9999;
}
.header * {
	z-index: 9999;
}
.header a {
	color: white;
}
.b-header {
    margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
    padding-right: 15px;
	-ms-flex-pack: justify;
    -webkit-box-pack: justify;
	        justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
}
.w-header {
	max-width: 1684px;
	width: 100%;
}

.h_map {
	display: none;
}

.h_map {
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    width: 25px;
	height: 25px;
	margin-right: 137px;
	cursor: pointer;
}
.h_map_1, 
.h_map_2, 
.h_map_3 {
    width: 100%;
    height: 3px;
    background-color: white;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.h_map:hover .h_map_2,
.h_map.open .h_map_2 {
	width: 16px;
}
.h_map:hover .h_map_3,
.h_map.open .h_map_3 {
	width: 8px;
}

.header_logo {
	position: relative;
	width: 35px;
	display: inherit;
}
.header_logo-img {
    width: 100%;
    height: 85px;
}

.header_nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header_nav  a {
	position: relative;
	padding: 25px;
	font-size: 24px;
	overflow: hidden;
}
.header_nav li .line {
	position: absolute;
    bottom: 15px;
    left: 20px;
	width: 0px;
	height: 2px;
	background-color: white;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}
.header_nav li.open .line,
.header_nav li:hover .line {
	width: 67%;
}
.header_phone {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.header_phone > a {
	font-size: 32px;
}
.header_phone > span {
	margin-top: 12px;
	font-size: 20px;
}

@media (max-width: 1440px) {
	.header_logo {
		width: 25px;
	}
	.header_logo-img {
		height: 65px;
	}
	.header_nav a {
		padding: 20px;
		font-size: 18px;
	}
	.header_phone > a {
		font-size: 27px;
	}
	.header_phone > span {
		margin-top: 10px;
		font-size: 17px;
	}
}

@media (max-width: 1150px) {
	.header_logo {
		width: 20px;
	}
	.header_logo-img {
		height: 50px;
	}
	.header_nav a {
		padding: 15px;
		font-size: 16px;
	}
	.header_nav li .line {
		left: 15px;
		bottom: 10px;
	}
	.header_nav li.open .line,
	.header_nav li:hover .line {
		width: 71%;
	}
	.header_phone > a {
		font-size: 22px;
	}
	.header_phone > span {
		margin-top: 8px;
		font-size: 14px;
	}
}
@media (max-width: 980px) {
	.h_map {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.header_nav {
		position: fixed;
		left: -100%;
		top: 0px;
		width: 100%;
		padding-top: 91px;
		height: 100vh;
		overflow: hidden;
		overflow-y: auto;
		-webkit-transition: left 0.3s ease-in-out;
		transition: left 0.3s ease-in-out;
		z-index: 999;
	}
	.header_nav.open {
		left: 0px;
	}
	.header_nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		background-color: white;
		min-height: 320px;
		height: 100%;
		padding: 20px 0px;
	}
	.header_nav li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.header_nav li .line {
		background-color: #012f2f;
	}
	.header_nav li a {
		color: #012f2f;
	}
}

@media (max-width: 720px) {
	.h_map {
		margin-right: 0px;
	}
	.header_phone {
		width: 25px;
		height: 25px;
		background-image: url(../img/phone.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	.header_phone:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	.header_phone * {
		display: none;
	}
}

@media (max-width: 500px) {
	.b-header {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.header_logo-img {
		height: 35px;
	}
	.header_nav {
		padding-top: 56px;
	}
}

/* HEADER END */

.main {
    margin-top: 125px;
}
.bg_white {
	background-color: white;
}
.bg-objects {
	background-color: #f9f9ef;
}

@media (max-width: 1440px) {
	.main {
		margin-top: 105px;
	}
}
@media (max-width: 1150px) {
	.main {
		margin-top: 90px;
	}
}
@media (max-width: 500px) {
	.main {
		margin-top: 56px;
	}
}
/* SECTION OBJECTS */

.objects_title {
	height: 176px;
	font-size: 48px;
	font-weight: 700;
	padding: 71px 0px 57px 0px;
	color: #012f2f;
}
.wrap_objects {
	padding: 0px 106px 20px;
}
@media (max-width: 1300px) {
	.wrap_objects {
		margin: 0px auto;
		padding: 0px 53px 20px;
	}
	.objects_title {
		height: 130px;
		font-size: 42px;
		padding: 51px 0px 37px 0px;
	}
}
@media (max-width: 1300px) {
	.wrap_objects {
		width: 696px;
	}
}
@media (max-width: 720px) {
	.wrap_objects {
		width: 100%;
		padding: 0px 30px 20px;
	}
	.objects_title {
		height: 124px;
		font-size: 36px;
		padding: 51px 0px 37px 0px;
		text-align: center;
	}
}
@media (max-width: 500px) {
	.objects_title {
		height: 98px;
		font-size: 30px;
		padding: 41px 0px 27px 0px;
		text-align: center;
	}
}
@media (max-width: 400px) {
	.objects_title {
		height: 130px;
		padding: 41px 15px 27px;
	}
}
@media (max-width: 360px) {
	.wrap_objects {
		padding: 0px 10px 20px;
	}
}


.objects_sort-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
	font-size: 14px;
	color: #002f2f;
}

.sort_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sort_list li {
	position: relative;
	padding: 15px 35px 15px 10px;
	cursor: pointer;
}

.sort_list .icon_arrow {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 18px;
    height: 18px;
    fill: #849cb2;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sort_list li.active .icon_arrow {
    -webkit-transform: rotate(272deg);
            transform: rotate(272deg);
}

.sort_list li .line {
    position: relative;
    bottom: -3px;
    left: 0px;
    width: 100%;
	content: '';
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
	-webkit-transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
}

.sort_list li:hover .line,
.sort_list li.sort-active .line {
	border-color: #9bb0c2;
}


.objects_sort .dropdown_value {
	height: auto;
	line-height: initial;
}
.objects_sort .sort_price {
	width: auto;
}
.objects_sort .sort_object-type {
	width: auto;
}

.objects_sort .sort_price ul,
.objects_sort .sort_object-type ul {
    top: 20px;
    left: 0px;
}

.objects_sort .sort_object-type ul {
    width: 105px;
}

.objects_sort .sort_price ul {
    width: 115px;
}


.wrap_objects > .row-temp {

	-webkit-box-pack: center;

	    -ms-flex-pack: center;

	        justify-content: center;
	min-height: 575px;
}
@media (max-width: 1300px) {
	.wrap_objects > .row-temp {
		min-height: 530px;
	}
}
@media (max-width: 720px) {
	.wrap_objects > .row-temp {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		min-height: 505px;
	}
}


.object_item {
	width: 318px;
	border-radius: 3px;
	margin-bottom: 54px;
	margin-right: 54px;
}
.object_item:nth-child(3n+3){
    margin-right: 0px;
}
.object_item:last-child{
    margin-right: 0px;
}
.object_item-booked {
	border: 1px solid #a7a37e;
}
.object_item-free {
	border: 1px solid #012f2f;
}
.object_item-sales {
	border: 1px solid #a1a1a1;
}
.object_img {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 280px;
	color: white;
}
.object_img img {
	width: 215px;
}

.object_img .object_popular {
	position: absolute;
	top: 17px;
	right: 17px;
	width: 18px;
	height: 18px;
	background-image: url(../img/popular.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
.object_img .object_popular-best {
	background-image: url(../img/popular-best.png);
}

.object_img .object_stock {
	position: absolute;
	top: 17px;
	left: 17px;
}

.object_img .object_stock > span {
	padding: 0px 3px 2px;
	border-radius: 3px;
	background-color: #ff4444;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.object_content {
    padding-bottom: 24px;
    padding-right: 33px;
    padding-left: 33px;
}

.object_content .object_name {
	height: 60px;
	color: #002f2f;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}


.object_content .object_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 28px;
	color: #313639;
}

.object_info > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 33px;
}


.object_content .object_furnish {
	max-width: 90px;
	color: #046380;
	font-size: 16px;
	border-left: 3px solid #046380;
	padding-left: 8px;
}

.object_content .object_area,
.object_content .object_floor {
	font-size: 18px;
}
.object_content .object_area sup {
	font-size: 11px;
}
.object_content .object_area > span:last-child,
.object_content .object_floor > span:last-child {
	font-size: 13px;
}


.object_content .object_price {
	height: 24px;
	font-size: 24px;
	font-weight: 700;
	margin-top: 36px;
	color: #313639;
}

.object_item .object_state {
	padding: 11px 0px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.object_item-booked .object_state {
	background-color: #a7a37e;
}
.object_item-free .object_state {
	background-color: #012f2f;
}
.object_item-sales .object_state {
	background-color: #a1a1a1;
}

.objects_btn_more {
	width: 533px;
	margin: 0px auto 70px;
	padding: 30px 0px;
	background-color: #046381;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.objects_btn_more:hover {
    background-color: #0a92bd;
}


@media (max-width: 1300px) {
	.object_item {
		width: 280px;
		margin-bottom: 30px;
		margin-right: 30px;
	}
	.object_item:nth-child(3n+3){
		margin-right: 30px;
	}
	.object_item:last-child,
	.object_item:nth-child(2n+2){
		margin-right: 0px;
	}
	.object_img {
		height: 270px;
	}
	.object_img img {
		width: 195px;
	}
	.object_content .object_name {
		height: 50px;
		font-size: 20px;
		line-height: 26px;
	}
	.objects_btn_more {
		width: 333px;
		margin: 20px auto 50px;
	}
}
@media (max-width: 720px) {
	.object_item{
		margin-right: 0px;
	}
	.object_item:nth-child(3n+3){
		margin-right: 0px;
	}
	.object_img {
		height: 230px;
	}
	.object_img img {
		width: 155px;
		margin-top: 20px;
	}
	.object_content .object_name {
		height: auto;
	}
	.objects_btn_more {
		width: 280px;
		padding: 20px 0px;
	}
}
@media (max-width: 400px) {
	.objects_sort-wrap {
		flex-direction: column;
		align-items: end;
	}
	.objects_sort-wrap > div {
		width: 100%;
		padding: 15px;
		background-color: #046381;
		color: white;
	}
}
@media (max-width: 330px) {
	.object_item,
	.objects_btn_more {
		width: 100%;
	}
	.object_content {
		padding-bottom: 24px;
		padding-right: 20px;
		padding-left: 20px;
	}
}
/* SECTION END */


/* SECTION SUBSCRIPTION */
.subscription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 55px;
	margin-bottom: 100px;
	padding: 55px;
	border-radius: 3px;
	background-color: #046381;
}
.subscription_form {
	width: 586px;
}
.subscription_title {
	font-size: 34px;
	font-weight: 600;
}
.subscription_comment {
	margin-top: 12px;
	font-size: 18px;
}
.subscription_form .form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.subscription_form .wrapper_input {
	width: 320px;
}
.subscription_form .wrapper_input input {
	color: #046381;
	z-index: 2;
}
input:-internal-autofill-selected {
	color: #046381;
}
.error_message {
	position: absolute;
    bottom: 0px;
	left: 50%;
	padding: 5px 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
    color: red;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.error_message.active {
	opacity: 1;
	bottom: -28px;
}
.btn_subscription {
	border-radius: 3px;
	padding: 17px 47px;
	background-color: #a7a37e;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.btn_subscription:hover {
	background-color: #8a8772;
}
.checkbox_consent {
	position: relative;
	margin-top: 18px;
}
.checkbox_consent input {
	position: absolute;
	visibility: hidden;
}
.checkbox_consent label {
    position: relative;
	padding-left: 30px;
	font-size: 18px;
}
.checkbox_consent label:before,
.checkbox_consent label:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: 1px;
}
.checkbox_consent label:before {
	left: 0;
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 3px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.checkbox_consent label:after {
	left: 4px;
	width: 12px;
	height: 12px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}
.checkbox_consent input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

@media (max-width: 1110px) {
	.subscription {
		width: 696px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.subscription_content {
		text-align: center;
		margin-bottom: 54px;
	}

}
@media (max-width: 720px) {
	.subscription {
		width: 330px;
		padding: 25px;
	}
	.subscription_title {
		font-size: 29px;
	}
	.subscription_comment {
		font-size: 14px;
	}
	.subscription_content {
		margin-bottom: 30px;
	}
	.subscription_form,
	.subscription_form .form * {
		width: 100%;
	}
	.subscription_form .form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.btn_subscription {
		margin-top: 30px;
	}
	.checkbox_consent label {
		font-size: 16px;
	}
}
@media (max-width: 350px) {
	.subscription {
		width: 100%;
		padding: 25px 15px;
	}
}

.btn-top {
	position: fixed; 
	top: 50%; 
	right: 4%; 
	width: 80px;
	height: 80px;
	background-color: #a7a37e;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	cursor:pointer;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	z-index: 999;
}
.btn-top .icon_top {
	position: absolute;
    top: 24px;
    left: 16.5px;
    width: 47px;
    height: 32px;
}
.btn-top.up {
	opacity: 1;
}
.btn-top.up:hover {
	background-color: #aba679;
}
  

@media (max-width: 1440px) {
	.btn-top {
		right: 30px; 
		width: 50px;
		height: 50px;
	}
	.btn-top .icon_top {
		position: absolute;
		top: 14px;
		left: 10px;
		width: 30px;
		height: 22px;
	}
}

@media (max-width: 1440px) {
	.btn-top {
		top: auto;
		-webkit-transform: translateY(15px);
		        transform: translateY(15px);
		bottom: 30px;
	}
}